@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
/* 
как на весь экран открыть панораму? в <iframe % выставил открывает полоской пикселей 200, но на всю ширину
открой в отдельном html  и на все вот такой css
html 
{
 overflow: auto;
}
 
html, body, div, iframe 
{
 margin: 0px; 
 padding: 0px; 
 height: 100%; 
 border: none;
}
iframe 
{
 display: block; 
 width: 100%; 
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
}
[17:50]
и будет счастье */

/* выдвигающаяся линия
your-element::after {
  content: "";
  height: 2px;
  width: 300px;
  position: absolute;
  bottom: -9px;
  left: 0;
  background-color: #710707;
  transition: 0.4s all;
} */

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  
  margin: 0 auto;
}

.section {
  padding: 75px 0px;
}

.section_dark {
  background-color: #030303;
}

.header {
  background-color: #030303;
  min-height: 200px;
  padding: 75px 0px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 195px;
}

.header_logo img {
  display: block;
  width: 50px;
  margin-right: 20px;
}

.header_logo h1 {
  font-family: "Forum";
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.header nav {
  max-width: 720px;
}

.header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header nav .menu_item {
  padding: 0 35px 0 41px;
}

.header nav .menu_item:nth-child(1) {
  padding-left: 0;
  margin: 0;
}

.header nav .menu_item:last-child {
  padding-right: 0;
  margin: 0;
}

.header nav .menu_item a {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  -webkit-transition: 0.5s color;
  transition: 0.5s color;
}

.header nav .menu_item a:hover {
  color: #9D8665;
}

  .welcome {
  max-width: 1920px;  
  height: 750px;
  padding-top: 115px;
  margin: 0 auto;
  
}

  .welcome_container {
  
  height: 100%;
  background-image: url("assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

  .welcome_container .container {
  position: relative;
  height: 100%;
  z-index: 1;  
}

  .welcome_title {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 26px;
}

  .welcome_descr {
  margin-bottom: 76px;
  font-family: "Roboto";
  font-weight: 200;
  font-size: 28px;
  letter-spacing: 2px;
  color: #fff;
}

  .welcome_btn {
  width: 360px;
  height: 75px;
  font-family: "Roboto";
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  color: #fff;
  background-color: #710707;
  border-radius: 10px;
  border: none;
  outline: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

  .welcome_btn:hover {
  background-color: #9D8665;
}

  .visiting {
  min-height: 1265px;
  margin-bottom: -80px;
}

  .visiting_title {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
  margin-bottom: 25px;
}

  .visiting .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

  .visiting .cards .card {
  display: block;
  height: 420px;
  width: 440px;
  margin-bottom: 80px;
}

  .visiting .cards .card img {
  display: block;
  width: 440px;
  height: 285px;
  margin-bottom: 25px;
}

  .visiting .cards .card_title {
  margin: 0;
  font-family: "Forum";
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

  .visiting .cards .card_descr {
  margin: 0;
  font-family: "Roboto";
  font-weight: 200;
  font-size: 22px;
}

  .visiting .cards .card_descr span {
  font-weight: 200;
  font-size: 18px;
}

  .explore {
  min-height: 865px;
  position: relative;
}

  .explore .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

  .explore_descr h3 {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 103px;
}

  .explore_descr p {
  position:relative;   
  /*  */
  font-family: "Roboto";
  width: 660px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #fff;
  top: 0.4em;
  /*  */
}

  .explore_descr p span {
  color: #9D8665;
}

  .explore_bg img {
  display: block;
  min-width: 720px;
  margin-top: 15px;
}

  .video {
  min-height: 1010px;
  padding-top: 90px;
}

  .video_player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 630px;
  background: center/contain url("assets/img/video.jpg") no-repeat;
}

  .video_player .play {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

  .video_player .play:hover {
  opacity: 0.8;
}

  .video_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85px;
  padding: 25px 41px 24px 41px;
  background-color: #030303;
  margin-bottom: 40px;
}

  .video_panel .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
}

  .video_panel .rewind-bar {
  background: -webkit-gradient(linear, left top, right top, from(#24809E), color-stop(50%, #24809E), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(to right, #24809E 0%, #24809E 50%, #fff 40%, #fff 100%);
  height: 8px;
  outline: none;
  -webkit-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
  -webkit-appearance: none;
  width: 820px;
}

  .video_panel .rewind-bar::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background-color: #fff;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

  .video_panel .rewind-bar::-webkit-slider-thumb:hover {
  cursor: pointer;
  background-color: #989898;
}

  .video_panel .sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  width: 215px;
}

  .video_panel .sound_bar {
  background: -webkit-gradient(linear, left top, right top, from(#24809E), color-stop(50%, #24809E), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(to right, #24809E 0%, #24809E 50%, #fff 40%, #fff 100%);
  height: 8px;
  outline: none;
  -webkit-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
  -webkit-appearance: none;
  width: 155px;
}

  .video_panel .sound_bar::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background-color: #fff;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

  .video_panel .sound_bar::-webkit-slider-thumb:hover {
  cursor: pointer;
  background-color: #989898;
}

  .video_panel button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  max-width: 100%;
  background-color: #ffffff00;
  cursor: pointer;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

  .video_panel button:hover {
  opacity: 0.6;
}

  .video_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

  .video_descr .title {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

  .video_descr .text {
  position: relative;    
  bottom: 0.6em;
  /*  */
  font-family: "Roboto";
  max-width: 720px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

  .tickets {
  min-height: 890px;
}

  .tickets_title {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
}

  .tickets-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  color: #fff;
}

  .tickets-content img {
  padding-right: 60px;
}

  .tickets-content .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  
  position:relative;    
  bottom: 2em;
  /*  */
}

  .tickets-content h4 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #fff;
}

  .tickets-content_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

  .tickets-content_type .container {
  display: block;
  position: relative;
  padding-left: 40px;
  
  margin: 0;
  margin-bottom: 50px;
  
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
}

  .tickets-content_type .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

  .tickets-content_type .container input:checked ~ .checkmark:after {
  display: block;
}

  .tickets-content_type .container .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 17px;
  width: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
}

  .tickets-content_type .container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

  .tickets-content_amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 50px;
}

  .tickets-content_amount h4 {
  text-align: right;
}

  .tickets-content_amount .title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 25px;
  font-weight: 300;
}

  .tickets-content_amount .basic {
  margin-bottom: 30px;
}

  .tickets-content_amount .senior {
  margin-bottom: 50px;
}

  .tickets-content_amount .basic,   .tickets-content_amount .senior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  border: 3px solid #fff;
}

  .tickets-content_amount .basic .number,   .tickets-content_amount .senior .number {
  all: unset;
  width: 30%;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

  .tickets-content_amount .basic button,   .tickets-content_amount .senior button {
  width: 44px;
  height: 44px;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  background-color: #030303;
}

  .tickets-content_amount .total {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
}

  .tickets-content_amount .buy-btn {
  border: none;
  outline: none;
  width: 175px;
  height: 50px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

  .tickets-content_amount .buy-btn:hover {
  background-color: #9D8665;
}

  .contacts {
  min-height: 960px;
}

  .contacts_title {
  margin: 0;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
  margin-bottom: 25px;
}

  .contacts_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto";
}

  .contacts_content .descr {
    position:relative;
    top: 0.7em;
    /*  */
  }

  .contacts_content .descr h4 {
  margin: 0;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 28px;
}

  .contacts_content .descr .contact {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .contacts_content .descr .contact_item {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 22px;
}

  .contacts_content .descr img {
  display: block;
}

.footer {
  min-height: 300px;
  background-color: #030303;
  padding: 75px 0px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 195px;
  margin-right: 145px;
}

.footer_logo img {
  display: block;
  width: 50px;
  margin-right: 20px;
}

.footer_logo h2 {
  font-family: "Forum";
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 370px;
  max-height: 150px;
}

.footer_menu nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: 150px;
  list-style: none;
}

.footer_menu nav a {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  -webkit-transition: 0.5s color;
  transition: 0.5s color;
}

.footer_menu nav a:hover {
  color: #9D8665;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
      position: relative;
      bottom: 0.2em;
      left: 1.8em;
      /*  */
}

.footer .social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 48px;
  margin-right: 25px;
  border: 1px solid #666666;
  border-radius: 50%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .social_item svg {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .social_item:hover {
  border: 1px solid #9D8665;
}

.footer .social_item:hover svg {
  fill: #9D8665;
}

.divider_big {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #710707;
  margin-bottom: 75px;
}

.divider_small {
  height: 2px;
  width: 300px;
  margin: 10px 0px;
  transition: 0.5s linear;
  cursor: pointer;
}

.divider_small:hover::after {
  width: 435px;
}
 
.divider_small::after {
  display: block;
  content: "";
  left: 0;
  height: 2px;
  width: 300px;
  background-color: #710707;
  transition: 0.5s linear;
  position: relative;
}

.crutch {
    height: 2px;
    width: 10px;
    margin: 5px 0px;
} 
 
.crutch_nav {
  position: relative;
  top: 0.8em;
} 

@media (max-width: 1440px) {
  .explore .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}